<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Employee</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<table class="table table-hover">
    <tr>
        <th scope="col">Imię</th>
        <th scope="col">Nazwisko</th>
        <th scope="col">Telefon</th>
        <th scope="col">Email</th>
        <th scope="col">Opis</th>
    </tr>

    <tr th:each="employee : ${employees}">

        <td th:text="${employee.getName()}"></td>
        <td th:text="${employee.getSurname()}"></td>
        <td th:text="${employee.getTelephone()}"></td>
        <td th:text="${employee.getEmail()}"></td>
        <td th:text="${employee.getDescription()}"></td>

        <td>
            <a th:href="'/admin/employee/update/' + ${employee.getId()}"
               th:text="${'Edytuj'}">
            </a>
        </td>

    </tr>
</table>
</br>
<a href="/admin/employee/add">Dodaj pracownika.</a>
</br></br>
<a href="/admin">Powrót do menu</a>


</body>
</html>