<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking Choose Stylist</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<table class="table table-hover">
    <tr>
        <th scope="col">Imię</th>
        <th scope="col">Nazwisko</th>
    </tr>

    <tr th:each="employee : ${employees}">

        <td th:text="${employee.getName()}"></td>
        <td th:text="${employee.getSurname()}"></td>


        <td>
            <a th:href="'/booking/' + ${employee.getId()}"
               th:text="${'Wybierz'}">
            </a>
        </td>

    </tr>
</table>
</br>
</body>
</html>