<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Serve Update</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<form action="'/admin/serve/update/' + ${serve.getId()}" method="post" th:object="${serveForm}">
<div th:object="${serve}">
    Nazwa: <input type="text" th:field="*{name}"> <br/>
    Cena: <input type="text" th:field="*{price}"> <br/>
    Czas: <input type="text" th:field="*{time}"> <br/>
</div>

    <br/><br/>

    <input type="submit" value="Aktualizuj">
</form>
</br></br>
<a href="/admin">Powrót do menu</a>
</body>
</html>